.Explore {
  display: flex;
  flex-direction: column;
  width: 90ch;
  margin: auto;
}

.ExploreSearch {
  margin: auto;
  display: flex;
  flex-direction: row;
  border: solid 10px var(--secondary-color);
  box-shadow: -10px 10px var(--primary-color);
  padding: 0 2em;
}

.ExploreSearch > .selected {
  color: white;
  border: white;
}

.SearchResults {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SearchResults > .background-text {
  z-index: -1;
  font-size: 100px;
}
