.Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('../tools1.jpeg');
  background-size: cover;
}

.login-container {
  position: relative;
  margin: auto;
  margin-top: 20vh;
  background: var(--white-color);
  padding: 10px;
  box-shadow: -10px 10px var(--secondary-color);
}

.login-inner-container {
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--white-color);
}

.login-inner-container {
  position: relative;
  padding: 2em;
  border: 2px solid var(--quaternary-color);
}

.login-inner-container > .logo {
  font-size: 50px;
  padding: 5px 50px;
  border-bottom: solid 2px var(--tertiary-color);
}

.tagline {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.tagline > * {
  margin: auto 5px;
}

.Login::before {
  content: '';
  position: fixed;
  right: -45%;
  top: -50%;
  width: 100%;
  height: 300%;
  background-color: var(--primary-color);
  border-left: solid var(--tertiary-color) 20px;

  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  transform: rotate(25deg);
}

.Login::after {
  content: '';
  position: fixed;
  z-index: 1;
  right: 60%;
  top: -50%;
  width: 2px;
  height: 300%;
  width: 5px;
  border: 1px solid var(--white-color);
  border-right-width: 3px;

  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  transform: rotate(25deg);
}
