.MyProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 1em;
}

.MyProfileContent {
  width: 70ch;
  margin: 1em;
}

.MyMakers > div {
  margin: auto;
}

.MyProfileNav > button {
  margin: 10px;
  border: var(--quaternary-color) solid 2px;
  color: var(--quaternary-color);
  box-shadow: -10px 10px var(--quaternary-color);
  text-decoration: bold;
  font-size: 16px;
}

.MyProfileNav > button:hover {
  margin: 10px;
  background-color: var(--quaternary-color);
  border: var(--white-color) solid 2px;
  color: var(--white-color);
  text-decoration: bold;
  font-size: 16px;
}

.nav-btn {
  margin: 0;
  padding: 0.5em;
  border: 2px solid rgba(0, 0, 0, 0);
  color: var(--primary-color);
}

.nav-btn.selected {
  border-color: var(--primary-color);
  background: var(--white-color);
  box-shadow: -10px 10px var(--primary-color);
}

.nav-btn:hover {
  color: grey;
}

.SavedProjectsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.SavedProjectsContainer > p {
  margin: auto;
}
