.ProfileSummary {
  text-align: left;
  position: relative;
  background: var(--tertiary-color);
  box-shadow: -10px 10px var(--primary-color);
  padding: 1em;
}

.main-info {
  display: flex;
  flex-direction: row;
}

.main-info > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: var(--white-color) solid 15px;
  object-fit: cover;
}

.text-container > h1 {
  padding: 0 1em;
  color: var(--white-color);
}

.text-container > p {
  padding: 1em;
  margin: 1em;
  text-indent: 1em;
  background: var(--white-color);
  box-shadow: -10px 10px var(--primary-color);
}

.user-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
}

.EditUserForm > .input-container {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.EditUserForm:first-child {
  display: flex;
  flex-direction: column;
}

.EditUserForm > button {
  width: 10em;
  margin: 5px auto;
}

.edit-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  color: var(--white-color);
  border: solid 1px var(--white-color);
}
