.ViewUser {
  width: 90ch;
  margin: auto;
}

.ViewUser > .ProfileSummary > .ToggleFollowButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  color: var(--white-color);
  border-color: var(--white-color);
}
.MakerProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 110px;
}

.no-projects-message {
  position: absolute;
  z-index: 5;
}

.background-text {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10em;
  font-weight: bold;
  color: lightgrey;
  z-index: 0;
  margin: auto;
  transform: translateY(-130px);
}
